.validator_helper {
  list-style: none;
  padding: 0;
}

.hide_helper {
  display: none;
}

.round {
  position: relative;
  color: #07982f;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  width: 8px;
  height: 8px;
  left: 0;
  position: absolute;
  top: 5px;
}

.round input[type='checkbox'] {
  visibility: hidden;
}

.round input[type='checkbox']:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type='checkbox']:checked + label:after {
  opacity: 1;
}
